# App
NODE_ENV=development
PORT=9940

# Database
DB_HOST=localhost
DB_PORT=3307
DB_USER=unibooking
DB_PASSWORD=2tBl1YpaAWnqdhQ9FI34
DB_NAME=unibooking

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=ANl1Ybd9pZUXz7JjobOu

# JWT
JWT_SECRET=3226ff7604204ff7b7bfc268a988a139d69a5a6f74e0851a01cbc5705bfe44b8
JWT_EXPIRES_IN=7d
JWT_CUSTOMER_EXPIRES_IN=24h

# AES Encryption (must be exactly 32 chars)
AES_SECRET_KEY=37048bb4dfdf29bb2042cdece4b9562a

# SMTP (Nodemailer) - using Mailpit or similar for dev
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=support@bookingaja
SMTP_PASS=bookingaja123
SMTP_FROM="BookingAja <support@bookingaja.com>"

# App URLs
APP_URL=http://localhost:9940
FRONTEND_URL=http://localhost

# Mayar Integration
MAYAR_ENVIRONMENT=testing

# S3
S3_ENDPOINT=https://nos.wjv-1.neo.id
S3_REGION=idn
S3_BUCKET=bookingaja
S3_ACCESS_KEY=YOUR_OWN_KEY
S3_SECRET_KEY=YOUR_OWN_SECRET